body {
	&.admin-bar {
		padding-top: 25px + 32px;
		#masthead {
			top: 32px;
		}
		#banner {
			top: -8px;
		}
	}	
	&.single-gei_resource {
		#tags {
			padding-left: 0;
			margin-bottom: 0;
			li {
				list-style-type: none;
				margin-bottom: 0.5em;
				&:last-child {
					margin-bottom: 0.25em;
				}
			}
		}
	}
	&.page-template-page-library {
		#resources {
			#filters {
				h1 { font-size: 18px; }
				h2 { font-size: 14px; }
				.show-filter {
					cursor: pointer;
					.glyphicon {
						top: 3px;
						left: 2px;
						@include transition(all, 0.4s);
					}
					&.active {
						.glyphicon {
							@include transform(rotate(180deg));
						}
					}
				}
				.button-group {
					display: none;
					&.active { display: block; }
					padding-left: 0;
					li {
						list-style-type: none;
						padding-bottom: 0.5em;
					}
				}
			}
			#null { display: block; }
		}
	}

}