@import 'bourbon';
@import 'neat';
@import 'reset';
@import 'shame';

$primary: #00ADEE;
$primary-dark: #0075A1;
$primary-light: #19C0FF;
$secondary: #EE7C00;
$secondary-light: lighten($secondary, 10%);
$black: #333;
$dark-grey: #4B5B65;
$light-grey: lighten($dark-grey, 62%);
$white: #ffffff;
$link-color: $primary;
$link-active-color: $primary-light;
$menu-background: $light-grey;
$menu-link-color: $dark-grey;
$menu-link-active-color: $link-active-color;
$header-font: "Raleway", "Helvetica", "Calibri", "Arial", sans-serif;
$body-font-sans: "Source Sans Pro", "Helvetica", "Calibri", "Arial", sans-serif;
$body-font-serif: "Alegreya", "Cambria", "Georgia", "Times New Roman", serif;

// breakpoints
$tablet: em(768px);
$desktop: em(992px);
$widescreen: em(1200px);

// vars
$padding-vertical: em(7px);
$padding-horizontal: em(14px);

// type

body {
	-webkit-font-smoothing: antialiased;
	font: 16px $body-font-serif;
	line-height: 1.4;
}

.screen-reader-text { display: none; }

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
	font-weight: 800;
}
h1 {
	font: 800 em(32px) $header-font;
	margin: 0.8em 0;
}
h2 {
	font: 800 em(24px) $header-font;
	margin: 0.8em 0;
}
h3 {
	font: 800 em(18px) $header-font;
	margin: 0.8em 0;
	counter-reset: h4;
	counter-increment: h3;
	&:before {
		content: counter(h3) ".0 ";
	}
}
h4 {
	font: 800 em(16px) $header-font;
	margin: 0.8em 0;
	counter-reset: h5;
	counter-increment: h4;	
	&:before {
		content: counter(h3) "." counter(h4) " ";
	}
}
h5 {
	font: 700 em(16px) $header-font;
	margin: 0.8em 0;
	counter-reset: h6;
	counter-increment: h5;	
	&:before {
		content: counter(h3) "." counter(h4) "." counter(h5) " ";
	}
}
h6 {
	font: 700 em(14px) $header-font;
	margin: 0.8em 0;
	counter-increment: h6;	
	&:before {
		content: counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " ";
	}
}
p {
	font-family: $body-font-serif;
	font-weight: 400;
	margin-bottom: 1em;
}
ul, ol {
	margin-bottom: 1em;
	padding-left: 1.2em;
	li {
		font-family: $body-font-serif;
		font-weight: 400;
		ul, ol {
			margin-bottom: 0;
		}
	}
}
ul { list-style: disc; }
ol { list-style: decimal; }
blockquote {
	border: none;
	background: $primary;
	color: $white;
	padding: em(30px);
	margin: 1em 0 em(60px)+1em;
	@include border-top-radius( em(20px) );
	@include border-bottom-radius( em(20px) );
	&:after {
		content: '';
		display: block;
		width: em(80px);
		height: em(80px);
		position: absolute;
		margin-top: em(10px);
		margin-left: em(60px);
		border-style: solid;
		border-width: em(80px) em(80px) 0 0;
		border-color: $primary transparent transparent transparent;
	}
	p {
		font-family: $body-font-sans;
		font-size: em(32px);
		font-weight: 600;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1em;
	> caption {
				padding: $padding-vertical;
				font-style: italic;
	}
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				padding: $padding-vertical;
				line-height: 1.4;
				vertical-align: top;
				text-align: left;
				border-top: 1px solid darken($menu-background, 10%);
			}
		}
	}
	> thead > tr > th {
		vertical-align: bottom;
		border-bottom: 2px solid darken($menu-background, 10%);
	}
	> caption + thead,
	> colgroup + thead,
	> thead:first-child {
		> tr:first-child {
			> th,
			> td {
				border-top: 0;
			}
		}
	}
	> tbody + tbody {
		border-top: 2px solid darken($menu-background, 10%);
	}
	table {
		background-color: $white;
	}
}
.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	.embed-responsive-item,
	iframe,
	embed,
	object,
	video {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
	&.embed-responsive-16by9 {
		padding-bottom: 56.25%;
	}
	&.embed-responsive-4by3 {
		padding-bottom: 75%;
	}
}
a {
	@include transition( all, 0.3s );
	color: $link-color;
	text-decoration: none;
	&:hover, &:active {
		color: lighten($link-color, 10%);
	}
}

// structure

body {
	padding-top: em(36px);
	#masthead {
		@include outer-container(100%);
		top: 0;
		min-height: em(36px);
		height: auto;
		width: 100%;
		position: fixed;
		z-index: 9999;
		background: $menu-background;
		border-top: solid 1px $menu-background;
		border-bottom: solid 1px darken($menu-background, 10%);
		.site-branding {
			padding: $padding-vertical $padding-horizontal;
			h1 {
				height: 25px;
				margin: 0;
				a {
					display: inline-block;
					text-indent: -99999px;
					position: absolute;
					top: $padding-vertical / 2;
					cursor: pointer;
					height: 25px;
					width: 35px;
					@include retina-image('../images/logo-mark', 35px 25px);
				}
			}
		}
		nav {
			z-index: 999;
			padding: 0 $padding-horizontal;
			#menu-toggle {
				position: absolute;
				right: $padding-horizontal;
				top: $padding-vertical;
				color: $menu-link-color;
				&[aria-expanded="true"] {
					color: $menu-link-active-color;
				}
			}
			.collapse {
				display: none;
				visibility: hidden;
				&.in {
					display: block;
					visibility: visible;
				}
			}
			.collapsing {
				position: relative;
				height: 0;
				overflow: hidden;
				@include transition( height 0.3s, visibility 0.3s );
			}
			ul {
				list-style: none;
				padding: 0 0 $padding-vertical;
				li {
					font-size: em(16px);
					font-family: $header-font;
					font-weight: 600;
					line-height: 20px;
					padding: $padding-vertical 0;
					a {
						color: $menu-link-color;
						text-decoration: none;
						&:hover {
							color: $menu-link-active-color;
						}
					}
					&.current-menu-item, &.current_page_item {
						a {
							color: $link-color;
							&:hover, &:active {
								color: $menu-link-active-color;
							}
							
						}
					}
					> ul {
						list-style: none;
						padding: $padding-vertical 0 0 $padding-horizontal * 2;
						li {
							&:last-child {
								padding: $padding-vertical 0 0;
							}
						}
					}
				}
			} 
		}
	}
	#banner {
		width: 100%;
		margin-bottom: $padding-vertical * 2;
		position: relative;
		h1 {
			position: absolute;
			width: 100%;
			text-align: center;
			top: 0;
			font: 400 em(36px) $body-font-sans;
			line-height: 1;
			text-transform: uppercase;
			color: $secondary;
			z-index: 999;
			text-shadow: 0px 1px 5px $black;
			padding: $padding-vertical 0;
			span {
				display: block;
			}
			span:nth-child(2) {
				font-weight: 300;
				color: $primary;
			}
			span:nth-child(3) {
				font-weight: 300;
				color: $light-grey;
			}
		}
		.cycle-slideshow {
			width: 100%;
			img { width: 100%; height: auto }
		}
	}
	#content {
		@include outer-container;
		padding: $padding-vertical $padding-horizontal;
		#primary, #resources {
			@include span-columns(12);
			.gei_resource {
				h2 { font-size: em(18px); }
				.entry-meta p {
					font: em(14px) $body-font-sans;
				}
				.links {
					ul {
						list-style-type: none;
						padding-left: 0;
						li {
							a {
								font: em(14px) $body-font-sans;
								.fa {
									font-size: em(18px);
									width: 1em;
									text-align: right;
									padding-right: $padding-horizontal / 4;
									&.fa-angle-left {
										font-weight: 600;
									}
								}
							}
						}
						
					}
				}
			}
			.resource {
				@include span-columns(12 of 12);
				background: $light-grey;
				border-left: solid 2px $primary;
				&#null {
					border-left: solid 2px $secondary;
					&:hover {
						border-left: solid 2px $secondary-light;
					}
				}
				&:hover {
					border-left: solid 2px $secondary;
				}
				padding-top: 0;
				padding-right: $padding-horizontal;
				padding-bottom: $padding-vertical * 2;
				padding-left: $padding-horizontal - em(2px);
				margin: 0 0 em(18px);
				h1 { font-size: em(18px); }
				h2 { font-size: em(14px); }
				.type {
					font: em(14px) $body-font-sans;
					color: $menu-link-color;
					padding: $padding-vertical / 2 $padding-horizontal / 2;
					background: $white;
					position: absolute;
					bottom: em(14px);
					right: $padding-horizontal;
					&:hover {
						color: $menu-link-active-color;
					}
				}
				@include transition( all 0.3s );
				.metadata { font: em(14px) $body-font-sans; }
				.tags {
					margin-top: $padding-vertical;
					.label { font: em(14px) $body-font-sans; margin-right: $padding-horizontal / 2; }
					ul {
						padding-left: 0;
						margin-bottom: 0;
						display: inline-block;
						list-style-type: none;
						li {
							display: inline;
							margin-right: $padding-horizontal / 2;
							&:last-child {
								margin-right: none;
							}
							a {
								font: em(14px) $body-font-sans;
								padding: $padding-vertical / 2 $padding-horizontal / 2;
								background: $white;
							}
						}
					}
				}
			}
		}
		#secondary {
			@include span-columns(12);
			margin-bottom: em(16px);
			h1 { font-size: em(18px); }
			h2 {
				font-size: em(14px);
				font-weight: 600;
				text-transform: uppercase;
				a.show-filter {
					cursor: pointer;
					color: $menu-link-color;
					@include transition( all 0.3s );
					.fa {
						font-size: em(18px);
						font-weight: 600;
						@include transition( all 0.3s );
						@include transform( rotate(90deg) );
					}
					&:hover {
						color: $secondary;
						.fa {
							color: $secondary;

						}
					}
					&[aria-expanded="true"] {
						.fa {
							@include transform( rotate(180deg) );
						}
					}
				}
			}
			ul.filters {
				list-style: none;
				margin: 0;
				padding: 0;
				&.collapse {
					display: none;
					visibility: hidden;
					&.in {
						display: block;
						visibility: visible;
					}
				}
				&.collapsing {
					position: relative;
					height: 0;
					overflow: hidden;
					@include transition( height 0.3s, visibility 0.3s );
				}
				li {
					margin: 0 0 em(8px);
					a {
						display: inline-block;
						padding: $padding-vertical / 2 $padding-horizontal / 2 $padding-vertical / 2 ( $padding-horizontal / 2 ) - em(2px);
						background: $light-grey;
						border-left: 2px solid $light-grey;
						font: normal em(14px) $body-font-sans;
						cursor: pointer;
						color: $menu-link-color;
						&:hover {
							color: $link-active-color;
							border-left: 2px solid $secondary;
						}
						&.active {
							color: $white;
							border-left: 2px solid $primary;
							background: $primary;
						}
					}
				}
			}
			.tags {
				padding-left: 0;
				margin-bottom: 0;
				display: inline-block;
				list-style-type: none;
				li {
					display: inline;
					margin-right: $padding-horizontal / 2;
					&:last-child {
						margin-right: none;
					}
					a {
						font: em(14px) $body-font-sans;
						padding: $padding-vertical / 2 $padding-horizontal / 2 $padding-vertical / 2 ( $padding-horizontal / 2 ) - em(2px);
						border-left: 2px solid $light-grey;
						background: $light-grey;
						&:hover {
							color: $link-active-color;
							border-left: 2px solid $secondary;
						}
						&.active {
							color: $white;
							background: $primary;
						}

					}
				}
			}
			
		}
		#searchform {
			#s {
				display: block;
				float: left;
				font: normal em(14px) $body-font-sans;
				color: $black;
				border-left: 2px solid $light-grey;
				border-top: none; border-right: none; border-bottom: none;
				background: $light-grey;
				padding: $padding-vertical / 2 $padding-horizontal / 2;
				margin: 0;
				&:focus {
					border-left: 2px solid $secondary;
					outline: 0;
				}
			}
			#searchsubmit {
				display: block;
				float: left;
				padding: $padding-vertical / 2 $padding-horizontal / 2;
				margin: 0;
				background: $light-grey;
				border: none;
				font: normal em(14px) $body-font-sans;
				cursor: pointer;
				color: $menu-link-color;
				@include transition( all 0.3s );
				&:hover {
					color: $secondary;
				}
				&.active {
					color: $white;
					background: $primary;
				}
			}
			&:hover {
				#s { border-left: 2px solid $secondary; }
			}
		}
	}
	#colophon {
		@include outer-container;
		padding: $padding-vertical $padding-horizontal 1em;
		.site-info {
			@include span-columns(12);
			font: em(14px) $body-font-sans;
			text-align: center;
			.desktop { display: none; }
			.mobile { display: inline; }
		}
	}
	@include media($tablet) {
		#masthead {
			height: em(50px);
			.site-branding {
				float: left;
				h1 a {
					top: 12px;
				}
			}
			nav {
				#menu-toggle {
					display: none;
				}
				.collapse {
					display: block;
					visibility: visible;
				}
				ul {
					float: right;
					margin-top: 14px;
					padding: 0;
					li {
						position: relative;
						display: block;
						float: left;
						padding: $padding-vertical $padding-horizontal;
						a { height: inherit; }
						> ul {
							display: none;
							position: fixed;
							margin-top: $padding-vertical;
							margin-left: -1 * $padding-horizontal;
							padding: 0 $padding-horizontal $padding-vertical;
							background: $menu-background;
							border-bottom: solid 1px darken($menu-background, 10%);
							border-right: solid 1px darken($menu-background, 10%);
							border-left: solid 1px darken($menu-background, 10%);
							li {
								display: block;
								float: none;
								padding: $padding-vertical 0;
								margin: 0;
							}
						}
						&:hover {
							> ul {
								display: block;
							}
						}
						&:last-child {
							padding-right: 0;
						}
					}
				}
			}
		}
		#banner {
			h1 {
				top: 20%;
				font-size: em(64px);
				
			}
		}
		#content {
			#primary {
				@include span-columns(8);
				@include shift(2);
			}
		}
		&.page-template-page-library, &.single-gei_resource {
			#content {
				@include direction-context(right-to-left) {
					#primary, #resources {
						@include span-columns(7);
						@include shift(1);
					}
				}
				#secondary {
					@include span-columns(3);
					@include shift(1);
				}
			}
		}
		&.single-gei_resource {
			#secondary {
				margin-top: em(74px);
			}
		}
		#colophon {
			.site-info {
				@include span-columns(9);
				@include shift(1.5);
				.desktop { display: inline; }
				.mobile { display: none; }
			}
		}
	}
	@include media($desktop) {
		#masthead {
			.site-branding {
				h1 {
					.desktop { display: inline; }
					.mobile { display: none; }
				}
			}
		}
		#banner {
			h1 {
				top: 20%;
				font-size: em(64px);
			}
		}
		#content {
			#primary {
				@include span-columns(8);
				@include shift(2);
			}
		}
		&.page-template-page-library, &.single-gei_resource {
			#content {
				@include direction-context(right-to-left) {
					#primary, #resources {
						@include span-columns(8);
						@include shift(0.5);
					}
				}
				#secondary {
					@include span-columns(3);
					@include shift(0.5);
				}
			}
		}
		&.single-gei_resource {
			#secondary {
				margin-top: em(74px);
			}
		}
	}
}