@import 'bourbon';
@import 'neat';
@import 'reset';

$primary-color: #1FABDD;
$header-font: "Raleway", sans-serif;
$body-font: "Source Sans Pro", sans-serif;

body {
	padding-top: 50px;
	&.admin-bar {
		padding-top: 50px + 32px;
		.navbar-fixed-top {
			top: 32px;
		}
	}
	a {
		@include transition( all, 0.4s );
		color: $primary-color;
		&:hover, &:active {
			color: lighten($primary-color, 10%);
		}
	}
	p, li {
		font-family: $body-font;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: $header-font;
	}
	h3 {
		counter-reset: h4;
		counter-increment: h3;
		&:before {
			content: counter(h3) ".0 ";
		}
	}
	h4 {
		counter-reset: h5;
		counter-increment: h4;  
		&:before {
			content: counter(h3) "." counter(h4) " ";
		}
	}
	h5 {
		counter-reset: h6;
		counter-increment: h5;  
		&:before {
			content: counter(h3) "." counter(h4) "." counter(h5) " ";
		}
	}
	h6 {
		counter-increment: h6;  
		&:before {
			content: counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " ";
		}
	}
	blockquote {
		border: none;
		background: #eee;
		color: #fff;
		padding: 30px;
		margin: 40px 0 80px;
		@include border-top-radius( 20px );
		@include border-bottom-radius( 20px );
		&:after {
			content: '';
			display: block;
			width: 80px;
			height: 80px;
			position: absolute;
			left: 60px;
			border-style: solid;
			border-width: 80px 80px 0 0;
			border-color: #eee transparent transparent transparent;
		}
		p {
			font-family: $body-font;
			font-size: 30px;
		}
	}
	nav {
		ul {
			li {
				font-size: 14px;
				font-family: $header-font;
				font-weight: 800;
				line-height: 20px;
				text-transform: uppercase;
				padding: 10px 15px 10px 0;
				a {
					color: #777;
					&:hover {
						color: #1FABDD;
					}
				}
				ul.sub-menu {
					list-style-type: none;
					li {
						font-size: 14px;
						font-family: $header-font;
						font-weight: 800;
						line-height: 20px;
						text-transform: uppercase;
						padding: 10px 15px 10px 0;
						a {
							color: #777;
							&:hover {
								color: #1FABDD;
							}
						}
					}
				}
				@media (min-width: 768px) {
					ul.sub-menu {
						display: none;
						position: fixed;
						-webkit-padding-start: 0;
						background: #f8f8f8;
						border-top: solid 1px #f8f8f8;
						border-right: solid 1px #e7e7e7;
						border-bottom: solid 1px #e7e7e7;
						border-left: solid 1px #e7e7e7;
						li {
							padding: 10px 15px;
						}
					}
					&:hover {
						ul.sub-menu {
							display: block;
						}
					}
				}
			}
		}
	}
	&.single-gei_resource {
		#tags {
			padding-left: 0;
			margin-bottom: 0;
			li {
				list-style-type: none;
				margin-bottom: 0.5em;
				&:last-child {
					margin-bottom: 0.25em;
				}
			}
		}
	}
	&.page-template-page-library {
		#resources {
			#filters {
				h1 { font-size: 18px; }
				h2 { font-size: 14px; }
				.show-filter {
					cursor: pointer;
					.glyphicon {
						top: 3px;
						left: 2px;
						@include transition(all, 0.4s);
					}
					&.active {
						.glyphicon {
							@include transform(rotate(180deg));
						}
					}
				}
				.button-group {
					display: none;
					&.active { display: block; }
					padding-left: 0;
					li {
						list-style-type: none;
						padding-bottom: 0.5em;
					}
				}
			}
			#no-match { display: none; }
			#isotope {
				.panel {
					width: 100%;
					h1 { font-size: 18px; }
					h2 { font-size: 14px; }
					#tags {
						padding-left: 0;
						margin-bottom: 0;
						li {
							list-style-type: none;
							margin-bottom: 0.5em;
							&:last-child {
								margin-bottom: 0.25em;
							}
						}
					}
				}
			}
		}
	}
	#colophon {
		text-align: center;
		.site-info {

		}
	}
}